//  _____       _   _         _      _____     _       _
// |  _  |_____| |_|_|___ ___| |_   | __  |___| |_ ___| |_
// |     |     | . | | -_|   |  _|  |    -| . | . | . |  _|
// |__|__|_|_|_|___|_|___|_|_|_|    |__|__|___|___|___|_|
// ________________________________________________________
// #######################################################
//
// @Author: ambientrobot
// @Date:   2019-01-27T16:52:13+01:00
// @Email:  contact@ambientrobot.com
// @Project: ambientrobot
// @Filename: index.scss
// @Last modified by:
// @Last modified time: 2020-06-20T14:53:06+02:00
// @Copyright: Ambient Robot 2020
// ________________________________________________________
// #######################################################
//--| 1. Imports
//--| 2. Document
//--| 3. Fonts
//--| 4. Main
//--| 5.
//--| 6.
//--| 7.
//--| 8.
//--| 9.
//--| 10.
// ________________________________________________________
// #######################################################

//--| 1. Imports
@import 'Assets';

//--| 2. Document
html {
  font-size: 0.75vw;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//--| 3. Fonts
p, a, h1, h2, h3, h4, h5, label, span {
  &:not(a){
    cursor: default;
  }
}

a, a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

//--| 4. Main
.hidden {
  display: none;
}
