//  _____       _   _         _      _____     _       _
// |  _  |_____| |_|_|___ ___| |_   | __  |___| |_ ___| |_
// |     |     | . | | -_|   |  _|  |    -| . | . | . |  _|
// |__|__|_|_|_|___|_|___|_|_|_|    |__|__|___|___|___|_|
// ________________________________________________________
// #######################################################
//
// @Author: ambientrobot
// @Date:   2019-02-05T12:51:13+01:00
// @Email:  contact@ambientrobot.com
// @Project: ambientrobot
// @Filename: Loader.scss
// @Last modified by:
// @Last modified time: 2020-06-24T11:37:35+02:00
// @Copyright: Ambient Robot 2020
// ________________________________________________________
// #######################################################
//--| 1. Imports
//--| 2. Document
//--| 3. Fonts
//--| 4. Main
//--| 5.
//--| 6.
//--| 7.
//--| 8.
//--| 9.
//--| 10.
// ________________________________________________________
// #######################################################

//--| 1. Imports
@import 'Assets';

//--| 2. Document


//--| 3. Fonts
h1 {
  margin: 0;
}

//--| 4. Main
.Loader {
  width: 100%;
  @include verticalCenterAlign();
  background-color: $-ambient-robot-alpha-1;
  .LoaderContainer {
    .LoaderLogo {
      width: 100%;
      path {
        stroke-dasharray: 491;
        stroke-dashoffset: 491;
        fill-opacity: 0;
      }
    }
  }
}
