//  _____       _   _         _      _____     _       _
// |  _  |_____| |_|_|___ ___| |_   | __  |___| |_ ___| |_
// |     |     | . | | -_|   |  _|  |    -| . | . | . |  _|
// |__|__|_|_|_|___|_|___|_|_|_|    |__|__|___|___|___|_|
// ________________________________________________________
// #######################################################
//
// @Author: ambientrobot
// @Date:   2019-01-27T16:52:13+01:00
// @Email:  contact@ambientrobot.com
// @Project: ambientrobot
// @Filename: Menu.scss
// @Last modified by:
// @Last modified time: 2020-06-20T14:53:30+02:00
// @Copyright: Ambient Robot 2019
// ________________________________________________________
// #######################################################
//--| 1. Imports
//--| 2. Document
//--| 3. Fonts
//--| 4. Main
//--| 5.
//--| 6.
//--| 7.
//--| 8.
//--| 9.
//--| 10.
// ________________________________________________________
// #######################################################

//--| 1. Imports
@import 'Assets';

//--| 2. Document

//--| 3. Fonts

//--| 4. Main
.Menu {
  position: absolute;
  .box {
    width: vw(100);
    height: vh(50);
    background: $-ambient-robot-white-1;
  }
}
